<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>com.controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.controllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>com.controllers.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>com.controllers.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderAdmin</servlet-name>
        <servlet-class>com.controllers.OrderAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAdmin</servlet-name>
        <servlet-class>com.controllers.ProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountAdmin</servlet-name>
        <servlet-class>com.controllers.AccountAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderAdmin</servlet-name>
        <url-pattern>/OrderAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAdmin</servlet-name>
        <url-pattern>/ProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountAdmin</servlet-name>
        <url-pattern>/AccountAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
